<ion-content class="ion-padding custom-dark-content">
  <div class="recover-container">
    <div class="header-row">
      <ion-button fill="clear" (click)="goBack()" class="back-btn-blue">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="title">Nueva Contraseña</h2>
    </div>

    <div class="fade-in">
      <p class="helper-text">Establece tu nueva contraseña de acceso.</p>

      <div class="custom-input-container">
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Nueva contraseña"
          [(ngModel)]="newPassword"
          class="custom-input"
        >
          <ion-button
            slot="end"
            fill="clear"
            (click)="showPassword = !showPassword"
            class="eye-btn"
          >
            <ion-icon
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            ></ion-icon>
          </ion-button>
        </ion-input>
      </div>

      <div class="custom-input-container">
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Confirmar contraseña"
          [(ngModel)]="confirmPassword"
          class="custom-input"
        >
        </ion-input>
      </div>

      <ion-button
        expand="block"
        class="orange-button"
        (click)="onResetPassword()"
        [disabled]="loading || !newPassword || !confirmPassword"
      >
        {{ loading ? 'Actualizando...' : 'Restablecer Contraseña' }}
      </ion-button>
    </div>
  </div>
</ion-content>
